/*all font sizes and height margins are reduced by 25%*/
@media (max-width: 512px) {
    body {
        min-width: 318px;
    }
	
	#header-title {
    	font-size: 38.5625px;
    	margin-bottom: 25px;
    }

    #subtitle {
		font-size: 23.0625px;
	}

	.primary {
		width: 90%;
	}

	.primary, .secondary, #mc_embed_signup {
		font-size: 15px;
	}

	.mobile-remove {
		display: none;
	}

	.list-title {
		font-size: 20px;
	}

	footer ul {
		font-size: 18px;
	}

	.thirds {
		float: none;
		width: 100%;
		max-width: none;
	}

	#copyright {
		font-size: 13px;
	}

	#mce-EMAIL {
		width: 300px;
	}
}