@media (max-width: 512px) {
    body {
        min-width: 318px;
    }
	
	#header-title {
    	font-size: 38.5625px;
    }

    #subtitle {
		font-size: 23.0625px;
	}

	.primary, .secondary, .tertiary, .quaternary, #mc_embed_signup {
		font-size: 15px;
	}

	.mobile-remove {
		display: none;
	}

	.mobile-only {
		display: block;
	}

	.list-title {
		font-size: 20px;
	}

	#mce-EMAIL, .sub-btn {
		font-size: 16px !important;
	}

	#mce-EMAIL {
		width: 148px;
	}

	footer, footer ul {
		font-size: 17px;
	}

	.footer-title {
		font-size: 18px;
	}

	.list-title {
		margin-bottom: 7px;
		font-size: 18px;
	}

	.list-title-pad {
		padding-top: 15px;
	}

	.thirds {
		float: none;
		width: 100%;
		max-width: none;
	}

	#copyright {
		font-size: 13px;
	}

	#img-404 {
		width: 280px;
	}
}

@media (max-width: 320px) {
	.old-iphone-remove {
		display: none;
	}

	.old-iphone-only {
		display: block;
	}
}