/*all font sizes and height margins are reduced by 25%*/
@media (max-width: 768px) {
    body {
        min-width: 512px; /*width of h1*/
        font-size: 75px;
    }

    h1 {
    	font-size: 48.75px;
    	margin: 52.5px auto 30px auto;
    }

    #tagline {
    	font-size: 17px;
    }

    nav ul, .primary, .secondary, .post iframe, #fb-container, #mc_embed_signup {
    	margin: 26.25px auto;
    }

    #subtitle {
		font-size: 30.75px;
	}

	nav ul {
		font-size: 18px;
	}

	.date, .date-sm, .list-title {
		font-size: 15px;
	}

	.primary {
		width: 85%;
	}

	.primary, .secondary, #mc_embed_signup {
		font-size: 18.75px;
	}

	footer, footer ul {
		font-size: 14px;
	}

	.post {
		width: 95%;
		font-size: 18px;
	}

	.post-margin, .post p {
		margin: 22.727px 0px;
	}

	.post iframe {
		width: 100%;
	}

	#fb-container {
		width: 93%; /*size of facebook comments*/
	}

	.btn {
		font-size: 18.75px !important;
	}

	.bottom-btn {
		margin-top: 26.25px;
	}

	.thirds {
		margin: 26.25px auto 15px auto;
	}

	#copyright {
		font-size: 12px;
		margin-bottom: 26.25px;
	}

	#mce-EMAIL {
		width: 350px;
		margin: 16px 0px;
	}
}