* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.text-center, #header-title, #tagline, #tagline-portfolio, nav ul, .primary, .secondary, .btn, .thirds, #copyright {
	text-align: center;
}

a:link {
	text-decoration: none;
}

/*hover white*/
a:link, nav ul {
	color: #e9e9e9;
	border-color: #e9e9e9;
}

a:visited {
	color: #e9e9e9;
}

/*hover blue*/
a:hover, .btn:hover, #foot-bod a:hover { 
	color: #379ecd;
	border-color: #379ecd;
}

/*click transition light blue*/
a:active, .btn:active, #foot-bod a:active {
	color: #37c4cd;
	border-color: #37c4cd;
	-webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
	transition: background-color 0.3s, color 0.3s, border 0.3s;
}

/*transition*/
a:link, nav ul, a:hover, #foot-bod a:hover, #foot-bod a {
	-o-transition: color .5s, border-color .5s;
	-ms-transition: color .5s, border-color .5s;
	-moz-transition: color .5s, border-color .5s;
	-webkit-transition: color .5s, border-color .5s;
	transition: color .5s, border-color .5s;
}

ul {
	list-style-type: none;
}

::selection {
    background: #c2c2c2;
}

::-moz-selection {
    background: #c2c2c2;
}

html {
	background-image: url('/assets/images/background/background.jpg');
	background-position: top left;
	background-color: #1b1b1b;
}

body {
	width: 100%; /*pixles are based on a 1280px width*/
	min-width: 686px; /*width of header-title*/
	margin: 0px auto;
	color: #e9e9e9;
	font-size: 100px;
	font-family: 'Oswald', arial, sans-serif;
	position: relative;
}

/*sets the max-width of the content and centers it*/
#above-waist, #foot-bod {
	max-width: 1280px;
	margin: 0px auto;
}

/*header*/

#header-title {
	font-size: 65px;
	margin: 0px auto;
	padding-top: 29px;
	clear: both;
}

#subtitle {
	font-size: 41px;
}

#tagline {
	font-size: 22px;
	margin-top: -6px;
}

#tagline-portfolio {
	font-size: 22px;
	margin-top: 0px;
}

nav ul {
	list-style: none;
	padding: 4px 0px;
	border-style: solid;
	border-width: 2px 0px;
	border-color: #e9e9e9;
	font-size: 20px;
	width: 78.125%;
	margin: 40px auto;
}

nav li {
	display: inline;
	margin: 0px 2%;
}

/*main content*/

article img {
	width: 100%;
	border-style: solid;
  	border-width: 1px;
  	border-color: #e9e9e9;
}

.primary {
	width: 78.125%;
	margin: 40px auto;
	font-size: 25px;
	clear: both;
}

.secondary, .tertiary, .quaternary {
	margin-bottom: 40px;
	font-size: 20px;
}

.secondary {
	width: 48%;
	float: left;
}

.tertiary {
	width: 48%;
	float: right;
}

.quaternary {
	width: 46%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

@media (max-width: 1040px) {
	.secondary, .tertiary, .quaternary {
		width: 100%;
		margin: 0px auto 40px auto;
		font-size: 25px;
		float: none;
		clear: both;
	}

	.date-sm {
		font-size: 16px;
	}
}

.date {
	font-size: 16px;
	letter-spacing: .25px;
}

.date-sm {
	font-size: 14px;
	letter-spacing: .25px;
}

.post {
	width: 81%;
	margin: 0px auto;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 300;
	text-align: left;
	font-size: 19.8px;
	line-height: 145%;
	letter-spacing: .25px;
}

.post-margin, .post p {
	margin: 25px 0px;
}

/*instead of bolding text, it underlines it*/
.post strong {
	font-weight: 300;
	text-decoration: underline;
}

/*soundcloud widget*/
.post iframe {
	width: 87.75%;
	margin: 40px auto;
	display: block;
}

.tab-post {
	margin-left: 6.5%;
}

/*facebook comments*/
#fb-container {
	width: 70%; /*size of facebook comments*/
	margin: 40px auto;
	border-style: solid;
	border-width: 5px;
	border-color: #c2c2c2;
	background-color: #ffffff;
}

/*forces facbook comments to be fluid - do not touch*/
.fb_iframe_widget_fluid span, iframe.fb_ltr {
	width: 100% !important;
	min-width: 100% !important;
}

#head1 {
	font-size: 1.5em;
}

/* Button CSS */

.btn, .btn:link, .btn:visited {
	width: 155px;
	border-radius: 4.8px;
  	border-style: solid;
  	border-width: 2px;
  	display: inline-block;
  	padding: 8px 37.5px;
  	font-size: 22.5px;
}

/*footer css*/

footer {
	width: 100%;
	background-image: url('/assets/images/background/background-w.jpg');
	background-position: top left;
	background-color: #e9e9e9;
	position: absolute;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #1b1b1b;
}

.footer-title {
	font-weight: bold;
	font-size: 20px;
}

.list-title {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 18px;
}

footer ul {
	display: inline-block;
	text-align: left;
	margin-bottom: 0px;
	font-size: 17px;
}

footer li {
	margin-bottom: 7.5px; /* space below every list itme */
}

#foot-bod a {
	color: #1b1b1b;
}

/*sets footer width*/
#foot-bod {
	width: 78.125%;
	max-width: 750px
}

/*splits the screen into thrids*/
.thirds {
	width: 33.33%;
	max-width: 333.33px;
	margin: 0px auto 20px auto;
	float: left;
}

#twit:hover {
	color: #5ea9dd !important;
}

#inst:hover {
	color: #005b86 !important;
}

#link:hover {
	color: #0377b5 !important;
}

#copyright {
	width: 100%;
	font-size: 12px;
	margin-bottom: 40px;
}

/*404.html css*/

#img-404 {
	width: 350px;
	margin-bottom: 15px;
}

/*subscribe.html css*/

#mc_embed_signup {
	margin: 40px auto;
	font-size: 20px;
}

#mc_embed_signup_scroll {
	text-align: center;
}

#mce-EMAIL {
	padding: 4px 10px;
	font-size: 18px;
	width: 188px;
	margin-top: 10px;
	vertical-align: middle;
	font-family: 'Oswald', arial, sans-serif;
}

.sub-title {
	font-size: 22.5px;
}

.sub-btn {
	display: inline;
	padding: 4px 5px !important;
	font-size: 18px !important;
	vertical-align: middle;
	width: 88px !important;
	border-radius: 0px;
	margin-top: 10px;
}

#mce-responses {
	display:none;
}

.mobile-only {
	display: none;
}

/*Nivo Slider css*/

.nivoSlider img {
	max-height: 500px;
	max-width: 90% !important;
	width: auto !important;
	margin: auto;
}

.nivo-slice img {
	left: auto !important;
	margin: auto !important;
	display: inline !important;
	top: auto;
	position: relative !important;
}

@media print {
	* {
		color: #000000 !important;
	}

	html, footer {
		background-image: none;
		background-color: #ffffff;
	}

	.primary {
		margin-bottom: 0px;
	}

	.post {
		font-size: 12pt !important;
		margin-bottom: 0px;
	}

	#mc_embed_signup, #fb-container, .btn, footer {
		display: none !important;
	}
}