:root {
  --primary-color: #1a1a1a;
}

.color-st {
  --primary-color: 14, 88, 129;
}

.color-tracer {
  --primary-color: 4, 70, 56;
}

.color-publicis {
  --primary-color: 207, 32, 46;
}

.color-ax {
  --primary-color: 26, 26, 26;
}

.color-pp {
  --primary-color: 41, 35, 70;
}

.color-cycle {
  --primary-color: 14, 129, 36;
}

.color-tortoise {
  --primary-color: 129, 14, 107;
}

.color-mooch {
  --primary-color: 46, 174, 219;
}

.color-li {
  --primary-color: 0, 119, 181;
}

.color-gh {
  --primary-color: 51, 51, 51;
}

.color-resume {
  --primary-color: 14, 50, 129;
}

.color-email {
  --primary-color: 129, 14, 50;
}

.color-404 {
  --primary-color: 26, 26, 26;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  display: flex;
}

body {
  font-family: "proximanova", helvetica, serif;
  color: #0e3281;
  background-color: #fdf6e2;
  width: 100%;
  max-width: 1024px;
  min-width: 320px;
  padding: 64px;
  margin: auto;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  user-select: none;
}

a {
  text-decoration: none;
}

.show-mobile {
  display: none !important;
}

.header {
  display: block;
  margin-bottom: 48px;
}

.header-img {
  display: block;
  width: 100%;
}

.first-name {
  display: none;
}

.cluster {
  position: relative;
  margin-bottom: 24px;
}

.cluster-title {
  font-size: 24px;
  margin-bottom: 8px;
  text-transform: none;
  letter-spacing: 0.5px;
}

.cluster-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: 175px;
  box-sizing: border-box;
  padding: 16px 0 24px;
}

.cluster-card:not(:last-of-type),
.expand-container:not(:last-of-type) {
  margin-right: 16px;
}

.cluster-card-img {
  height: 150px;
  width: 75%;
  max-width: 256px;
  max-height: 50%;
  margin: auto;
  padding-bottom: 15px;
  object-fit: contain;
}

.bonus .cluster-card-img {
  width: 25%;
  max-height: 25%;
}

.cluster-card-txt {
  position: absolute;
  width: -webkit-fill-available;
  bottom: 24px;
  color: #ffffff;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cluster-card-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -16px;
  border-radius: 16px;
  background-color: rgb(var(--primary-color));
  z-index: -1;
  transition: 0.25s;
}

@media (hover: hover) {
  .cluster-card:hover > .cluster-card-bg,
  .expand-btn:hover + .cluster-card > .cluster-card-bg {
    opacity: 0.9;
  }
}

.footer {
  text-align: right;
  padding-top: 24px;
}

.expand-container,
.not-responsive,
.responsive {
  display: flex;
  width: 100%;
}

.expand-btn {
  position: absolute;
  height: calc(100% - 32px);
  width: calc(33.3% - 16px);
  font-size: 24px; /* iOS FIX FOR EXPAND LOGO LOGIC */
  z-index: 1;
  opacity: 0;
  cursor: zoom-in;
}

.expand-btn:focus {
  width: 0px;
  height: 0px;
}

.expand-btn:focus + .cluster-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 225px;
  z-index: 2;
  cursor: pointer;
  filter: drop-shadow(-1px 0px 0px #fdf6e2);
  cursor: zoom-out;
}

.expand-btn:focus + .cluster-card > .cluster-card-img {
  max-height: 60%;
}

.expand-btn:focus + .cluster-card > .cluster-card-bg {
  opacity: 1;
}

.expand-close {
  display: none;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  padding: 8px;
  cursor: pointer;
}

.expand-btn:focus + .cluster-card > .expand-close {
  display: block;
}

/* 404 */

.fourohfour .cluster-card {
  padding: 16px 0;
}

.fourohfour .cluster-card > .cluster-card-txt {
  margin: auto;
  position: relative;
  bottom: 0;
}

/* EXPERIENCE PAGES */
.exp-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.exp-header-blocker {
  width: calc(100% + 8px);
  height: 32px;
  background-color: #fdf6e2;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin: -24px 0 0 -4px;
  z-index: 1;
}

.exp-header {
  padding: 24px;
  color: #ffffff;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: rgb(var(--primary-color));
  border-radius: 16px;
  position: sticky;
  position: -webkit-sticky;
  top: 16px;
  z-index: 2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 32px;
}

.exp-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.exp-header-title {
  display: flex;
  align-items: center;
}

.exp-header-back {
  height: 20px;
  width: 20px;
}

.exp-bio {
  color: #1a1a1a;
  text-transform: none;
  letter-spacing: 0.25px;
  font-size: 22px;
  border-radius: 16px;
  border-radius: 16px;
  padding: 24px;
  background-color: rgba(var(--primary-color), 0.12);
}

.exp-screenshot-container,
.exp-history-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 32px;
}

.exp-screenshot-container.no-wrap {
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.exp-screenshot-container.horizontal {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.exp-history-container {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.exp-screenshot-container > img,
.exp-history-screenshots > img {
  display: block;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.exp-history-screenshots {
  display: flex;
  flex-direction: column;
  grid-gap: 32px;
}

.exp-history-screenshots.horizontal {
  flex-direction: row;
  width: calc(50% - 16px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-height: calc(50vw - 64px);
}

.exp-history-screenshots.horizontal > img {
  max-height: inherit;
  object-fit: cover;
  object-position: top;
}

.exp-title {
  display: block;
  height: 32px;
  margin-left: 24px;
}

.exp-history {
  color: #1a1a1a;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 16px;
  border-radius: 16px;
  padding: 24px;
  background-color: rgba(var(--primary-color), 0.12);
  display: flex;
  flex-direction: column;
}

.exp-history-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  flex-wrap: wrap;
  gap: 2px;
}

.exp-history-header:not(:first-of-type) {
  margin-top: 24px;
}

.exp-history-header > div:first-of-type {
  margin-right: 16px;
}

.exp-history-bullets {
  margin-left: 8px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.exp-history-bullets > li {
  margin-top: 2px;
}

.exp-button {
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 18px;
  display: table;
  transition: 0.25s;
  background-color: rgba(255, 255, 255, 0.16);
  letter-spacing: 0.5px;
}

.exp-button:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

.exp-button.circle {
  display: flex;
  padding: 8px;
  z-index: 1; /* fixes mobile bug */
}

@media (max-width: 756px) {
  body {
    padding: 48px;
    box-sizing: border-box;
  }

  .header {
    margin: 0 auto 48px;
  }

  .footer {
    text-align: center;
  }

  .cluster-card {
    height: 150px;
    padding: 16px 0;
  }

  .cluster-card-txt {
    bottom: 16px;
  }

  .responsive {
    flex-wrap: wrap;
  }

  .responsive .cluster-card:not(:last-of-type) {
    margin: 0 0 16px;
  }

  .bonus .cluster-card-img {
    width: 35%;
    max-height: 35%;
  }

  .expand-btn:focus + .cluster-card {
    height: 200px;
  }

  .exp-container {
    margin-bottom: 24px;
  }

  .exp-history-screenshots.horizontal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 512px) {
  body {
    padding: 32px 24px;
  }

  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: flex !important;
  }

  .header {
    margin-bottom: 32px;
  }

  .full-name {
    display: none;
  }

  .first-name {
    display: block;
  }

  .bonus > .not-responsive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .bonus > .not-responsive > a {
    margin: 0 !important;
  }

  .expand-close {
    top: 8px;
    right: 8px;
  }

  .footer {
    padding-top: 16px;
  }

  .exp-header {
    padding: 16px;
  }

  .exp-title {
    position: absolute;
    width: calc(100% - 160px);
    margin-left: 60px;
  }

  .exp-container {
    margin-bottom: 16px;
  }

  .exp-bio {
    text-align: center;
  }

  .exp-history-screenshots.horizontal {
    height: calc(50vw - 40px);
  }

  .exp-screenshot-container,
  .exp-history-container {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }
}

@media (max-width: 350px) {
  .footer {
    font-size: 10px;
  }
}
