/*all font sizes are reduced by rouphly 25%*/
@media (max-width: 768px) {
    body {
        min-width: 512px; /*width of header-title*/
        font-size: 75px;
    }

    #header-title {
    	font-size: 48.75px;
    }

    #tagline {
    	font-size: 17px;
    }

    #subtitle {
		font-size: 30.75px;
	}

	nav ul {
		font-size: 18px;
	}

	.date, .date-sm {
		font-size: 15px;
	}



	.primary, .secondary, .tertiary, .quaternary, #mc_embed_signup {
		font-size: 18.75px;
	}

	footer, footer ul {
		font-size: 16px;
	}

	.list-title {
		font-size: 17px;
	}

	.post {
		width: 95%;
		font-size: 18px;
	}

	.post iframe {
		width: 100%;
	}

	#fb-container {
		width: 93%; /*size of facebook comments*/
	}

	.btn, .sub-title {
		font-size: 20px !important;
	}

	#mce-EMAIL, .sub-btn {
		font-size: 17px !important;
	}

	#mce-EMAIL {
		width: 158px;
	}

	#copyright {
		font-size: 12px;
	}

	#img-404 {
		width: 320px;
	}
}
