/*
 *
 * btns.css
 * Simple css utilities for building responsive buttons
 * Author: mrmrs
 * License: MIT
 *
 *                */
/* 

  Base .btn class 

  Code:
  <a href="#" class="btn">Default button</a>

*/
.btn, .btn:link, .btn:visited {
  
  border-radius: 4.8px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  color: #ffffff;
  display: inline-block;
  padding: 8px 3.75%;
  text-decoration: none;
  font-weight: normal;

  -webkit-transition: color 0.5s, background-color 0.5s, border 0.5s;
  transition: color 0.5s, background-color 0.5s, border 0.5s;
}

.btn:hover {
  color: #379ecd;
  border: 2px solid #379ecd;
  -webkit-transition: background-color 0.5s, color 0.5s, border 0.5s;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.btn:active {
  color: #37c4cd;
  border: 2px solid #37c4cd;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn {
  font-size: 100%; }

/* Keep it mobile-first and responsive */
@media screen and (min-width: 32em) {
  .btn--full {
    max-width: 16em !important; } }
